*.pyc
.vscode
.cache
__pycache__
test/configs/*/test_config.dat
.pytest_cache
**.bak
build/
**.egg-info/
**/.ipynb_checkpoints/**
*.h5*
**/traj/
protocols/*/*.csv
protocols/*/*.json
protocols/*/*.pdf
.coverage