*.pyc
.vscode
.cache
__pycache__
test/configs/*/test_config.dat
.pytest_cache
**.bak
build/
**.egg-info/
**/.ipynb_checkpoints/**
*.h5*
**/traj/
protocols/*/*.csv
protocols/*/*.json
protocols/*/*.pdf
screen.out
*coverage*

log.*
out.*
*.out
configs
data
logs

protocols/oxdna-generation/lammps.data.conf
protocols/lennard-jones-gel/
protocols/generic-degradation/model.py
protocols/gel-reaction/lammps.main.conf