*.pyc
.vscode
.cache
__pycache__
test/configs/*/test_config.dat
.pytest_cache
**.bak
build/
**.egg-info/
**/.ipynb_checkpoints/**
*.h5*
**/traj/
protocols/*/*.csv
protocols/*/*.json
protocols/*/*.pdf
screen.out
*coverage*

protocols/enzymatic-examples/**/img
protocols/enzymatic-examples/**/csv
protocols/enzymatic-examples/**/raw
protocols/enzymatic-examples/**/screen
protocols/enzymatic-examples/**/*.csv
protocols/enzymatic-examples/**/yml
protocols/enzymatic-examples/**/checkpoints
protocols/enzymatic-examples/visualisation/**/lammps.*


!test/**/_test.h5
